JWT_KEY=exampleSecretKey
JWT_EXPIRES_IN=7d
PORT=3000

# database
POSTGRES_USER=example_user
POSTGRES_PASSWORD=example_password
POSTGRES_DB=example_db
POSTGRES_HOST=database
POSTGRES_PORT=5432
POSTGRES_PGDATA=/var/lib/postgresql/data
